[submodule "php"]
	path = php
	url = git@github.com:vimeo/ABLincoln.git
[submodule "alpha/golang"]
	path = alpha/golang
	url = https://github.com/URXtech/planout-golang
[submodule "java"]
	path = java
	url = https://github.com/Glassdoor/planout4j.git
[submodule "alpha/js"]
	path = alpha/js
	url = https://github.com/HubSpot/PlanOutJS
