[submodule "java"]
	path = java
	url = https://github.com/Glassdoor/planout4j
[submodule "alpha/js"]
	path = js
	url = https://github.com/HubSpot/PlanOut.js
[submodule "php"]
	path = php
	url = https://github.com/vimeo/ABLincoln
[submodule "alpha/julia"]
	path = alpha/julia
	url = https://github.com/rawls238/PlanOut.jl
[submodule "alpha/golang"]
	path = alpha/golang
	url = https://github.com/biased-unit/planout-golang
