pre.correct {
  width: 100%;
}

pre.error {
  width: 100%;
  background-color: #ffaaaa;
}

div.testerBox {
  width: 450px;
}

textarea.testcode {
  height: 200px;
  width: 100%;
}

div.boundingbox {
  width: 450px;
}

textarea {
    background-color: #2d2d2d;
    border-radius: 2px;
    border: 10px #2d2d2d solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    color: #cccccc;
      font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 14px;
    height: 300px;
    max-width: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

dt.fields {
  padding-bottom: 1px;
  padding-top: 12px;
}
