<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PlanOut Experiment Editor</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/planoutstyle.css">
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<section id="planouteditor"></section>
		<script src="static/js/bundle.js"></script>
	</body>
</html>
