<header class='hero'><div class='width'>
    <h1>
       PlanOut
    </h1>
    <p>A framework for online field experiments</p>
    <div class="buttons-unit">
      <a href="/planout/docs/getting-started.html" class="button">Get Started</a>
      <a href="http://github.com/facebook/planout" class="button">GitHub</a>
    </div>
</div></header>


<header class='subhero'><div class='width'>
    <section class="panel3">
      <h3>Focus on parameters</h3>
      <p>
      PlanOut is all about providing randomized values of parameters that
      control your service. Instead of using constants for text size, color,
      wordings, or a switch controlling the rollout of a new feature, just
      use PlanOut to determine the value of these parameters.
      Now you have an experiment.
     </p>
    </section>
    <section class="panel3">
      <h3>Simple or complex</h3>
      <p>
      It is easy to implement simple A/B tests and factorial designs in PlanOut.
      But it is not much harder to implement more complex designs
      involving multiple types of units (e.g., users and pieces of content),
      or conditional logic. Easily run experiments that help
      you understand your product and answer important questions.
      </p>
    </section>
    <section class="panel3">
      <h3>Extensible</h3>
      <p>
      PlanOut was developed at Facebook for running experiments involving
      millions of people. This open source release mirrors core parts of Facebook's
      infrastructure for logging and deploying iterative, distributed experiments. Our framework
      is written in a way that can be easily extended into your own stack.
      </p>
    </section>
<div/></header>
